.starting {
  text-align: center;
  animation: fadein 1s;
  background-color: rgb(211, 211, 211);
  border-radius: 20px;
  padding: 2rem
}

.item {
  width: 23%;
  display: inline-block;
  margin-right: 3rem;
  margin-bottom: 2rem;
  text-align: justify;
  animation: fadein 1s;
}

.item > img {
  width: 50%;
}

.prova2 {
  margin-top: 2rem;
  text-align: center;
}

@keyframes arrive {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    
  }

  100% {
    opacity: 1;
   
  }
}

