.category_item {
  background: white;
  border-radius: 20px;
  border: 1px solid rgb(236, 236, 236);
  box-shadow: black;
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0.3rem 1.2rem;
  box-shadow: 0px 1px 19.83px 0 rgba(0, 0, 0, 0.15);
  color: rgb(66, 66, 66);
  cursor: pointer;
}

.categories {
  margin: auto;
  width: fit-content;
}

.category_item:hover {
  background: #141f2f;
  color: white;
}

.box {
  cursor: pointer;
  transition: transform 250ms;
}

.box:hover {
  transform: translateY(-8px);
}

.fs-2.mb-3 {
  margin-top: -1rem;
  text-align: center;
  font-size: 5px;
}
.fs-2.mb-3 p {
  display: block;
  font-size: 18px;
}

.bi.bi-chevron-double-down,
.bi.bi-chevron-double-up {
  cursor: pointer;
}
