.s007 {
  width: 40%;
  margin: 2rem auto;
  background: transparent;
  padding: 15px;
  font-family: "Roboto", sans-serif;
}

.s007 form .inner-form {
  width: 100%;
}

.s007 form .inner-form .input-field {
  position: relative;
  margin: 2rem auto;
  text-align: center;
}

.s007 form .inner-form .input-field input {
  height: 100%;
  background: #fff;
  padding: 10px 32px 10px 70px;
  font-size: 18px;

  height: 70px;
  border: 0;
}

.s007 form .inner-form .input-field .btn-search {
  min-width: 100px;
  height: 40px;
  padding: 0 15px;
  background: #183897;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

.s007 form .inner-form .input-field .btn-search:hover {
  background: #141f2f;
}

.s007 form .inner-form .basic-search {
  margin-bottom: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.s007 form .inner-form .basic-search .input-field input {
  padding: 10px 110px 10px 70px;
}

.s007 form .inner-form .basic-search .input-field .icon-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 100%;
}

.advance-search {
  background: #fff;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  display: block;
}

.hidden {
  display: none;
}

.s007 form .inner-form .advance-search .desc {
  font-size: 15px;
  color: #999;
  display: block;
  margin-bottom: 26px;
}

.s007 form .inner-form .advance-search .row.third {
  margin-top: 3rem;
  margin-bottom: 0;
}

.s007 form .inner-form .advance-search .input-field {
  width: 50%;
}

.s007 form .inner-form .advance-search .input-select {
  height: 40px;
  width: 50%;
}

@media screen and (max-width: 767px) {
  .s007 form .inner-form .basic-search .input-field input {
    padding: 10px 110px 10px 60px;
  }
  .s007 form .inner-form .basic-search .input-field .icon-wrap {
    width: 60px;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .s007 form .inner-form .basic-search .input-field .icon-wrap svg {
    width: 26px;
    height: 26px;
  }
  .s007 form .inner-form .advance-search .row {
    display: block;
  }
  .s007 form .inner-form .advance-search .input-field {
    width: 100%;
    margin-bottom: 20px;
  }
}

.boh {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
  margin-bottom: 0.3rem;
}

.questiondiv {
  margin-top: 5rem;
}







.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.astyle{
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #C7D0CD;
  color: #ffffff;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;

}

.astyle:hover {
  background: #85b7f2;
  color: #ffffff;
}

.tab-group .active .astyle {
  background: #4f81bc;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

img {
  width: 8%;
}